In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import sklearn.metrics

In [4]:
loan = pd.read_csv('loan_prediction_cleaned.csv')
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,5849,0.0,9.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
loan.shape
loan.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents           float64
Education             object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [16]:
loan.drop(['Loan_ID'], axis = 1)

,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0.0,Graduate,5849,0.0,9.0,360.0,1.0,Urban,Y
1,Male,Yes,1.0,Graduate,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0.0,Graduate,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0.0,Not Graduate,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0.0,Graduate,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0.0,Graduate,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3.0,Graduate,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1.0,Graduate,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2.0,Graduate,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0.0,Graduate,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [31]:
loan.isna().sum()

Loan_ID               0
Gender               13
Married               0
Dependents            0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [32]:
loan.loc[(loan['CoapplicantIncome'] > 0.0) & (loan['Married'].isnull()), 'Married'] = 'Yes'
loan['Married'] = loan['Married'].fillna('No')

In [33]:
loan.isna().sum()

Loan_ID               0
Gender               13
Married               0
Dependents            0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [34]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,5849,0.0,9.0,360.0,1.0,Urban,Y
1,LP001003,Male,yes,1.0,Graduate,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,yes,0.0,Not Graduate,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,6000,0.0,141.0,360.0,1.0,Urban,Y

In [36]:
loan.drop('Gender', axis = 1, inplace=True)

In [37]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Married            614 non-null    object
 2   Dependents         614 non-null    float64
 3   Education          614 non-null    object
 4   ApplicantIncome    614 non-null    int64
 5   CoapplicantIncome  614 non-null    float64
 6   LoanAmount         614 non-null    float64
 7   Loan_Amount_Term   614 non-null    float64
 8   Credit_History     614 non-null    float64
 9   Property_Area      614 non-null    object
 10  Loan_Status        614 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 52.9+ KB

In [43]:
loan_encoded = pd.get_dummies(loan, columns = ['Married', "Education", "Property_Area"], dtype=int)

In [44]:
loan_encoded.head()

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Married_No,Married_Yes,Married_no,Married_yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001002,0.0,5849,0.0,9.0,360.0,1.0,Y,1,0,0,0,1,0,0,0,1
1,LP001003,1.0,4583,1508.0,128.0,360.0,1.0,N,0,0,0,1,1,0,1,0,0
2,LP001005,0.0,3000,0.0,66.0,360.0,1.0,Y,0,1,0,0,1,0,0,0,1
3,LP001006,0.0,2583,2358.0,120.0,360.0,1.0,Y,0,0,0,1,0,1,0,0,1
4,LP001008,0.0,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,1,0,0,0,1