In [3]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [4]:
loan = pd.read_csv('loan_prediction_cleaned.csv')
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,5849,0.0,9.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
loan.shape
loan.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents           float64
Education             object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [6]:
loan = loan.drop(['Loan_ID'], axis = 1)

In [7]:
loan.isna().sum()

Gender               13
Married               3
Dependents            0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
loan.loc[(loan['CoapplicantIncome'] > 0.0) & (loan['Married'].isnull()), 'Married'] = "yes"
loan.loc[(loan['CoapplicantIncome'] == 0) & (loan['Married'].isnull()), 'Married'] = "no"

In [9]:
loan.isna().sum()

Gender               13
Married               0
Dependents            0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
loan.head()

,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0.0,Graduate,5849,0.0,9.0,360.0,1.0,Urban,Y
1,Male,Yes,1.0,Graduate,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0.0,Graduate,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0.0,Not Graduate,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0.0,Graduate,6000,0.0,141.0,360.0,1.0,Urban,Y

In [11]:
loan.drop('Gender', axis = 1, inplace=True)

In [12]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Married            614 non-null    object
 1   Dependents         614 non-null    float64
 2   Education          614 non-null    object
 3   ApplicantIncome    614 non-null    int64
 4   CoapplicantIncome  614 non-null    float64
 5   LoanAmount         614 non-null    float64
 6   Loan_Amount_Term   614 non-null    float64
 7   Credit_History     614 non-null    float64
 8   Property_Area      614 non-null    object
 9   Loan_Status        614 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 48.1+ KB

In [13]:
loan = pd.get_dummies(loan, columns = ['Married', "Education", "Property_Area"], dtype=int)

In [14]:
loan.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Married_No,Married_Yes,Married_no,Married_yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.0,5849,0.0,9.0,360.0,1.0,Y,1,0,0,0,1,0,0,0,1
1,1.0,4583,1508.0,128.0,360.0,1.0,N,0,1,0,0,1,0,1,0,0
2,0.0,3000,0.0,66.0,360.0,1.0,Y,0,1,0,0,1,0,0,0,1
3,0.0,2583,2358.0,120.0,360.0,1.0,Y,0,1,0,0,0,1,0,0,1
4,0.0,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,1,0,0,0,1

In [15]:
y = loan['Loan_Status']
x = loan.drop('Loan_Status', axis =1)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.2, random_state=0)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((491, 15), (123, 15), (491,), (123,))

In [16]:
#logistic regressor
log = LogisticRegression()
log.fit(x_train, y_train)

predL = log.predict(x_test)
predLacc = metrics.accuracy_score(y_test, predL)

c:\Users\user\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [17]:
#KNeighbors
from sklearn.model_selection import cross_val_score

knn_a = []
n_val = list(range(1, 50))

for n in n_val:
    knn = KNeighborsClassifier(n_neighbors=n)
    knn.fit(x_train,y_train)
    predK = knn.predict(x_test)
    knn_a.append(metrics.accuracy_score(y_test, predK))

knn_best = max(knn_a)
print(knn_best)

0.7317073170731707

In [18]:
dec = DecisionTreeClassifier()
dec.fit(x_train,y_train)
predD = dec.predict(x_test)
predDacc = metrics.accuracy_score(y_test, predD)

print(predDacc)

0.6504065040650406

In [19]:
ran = RandomForestClassifier()
ran.fit(x_train,y_train)
predR = ran.predict(x_test)
predRacc = metrics.accuracy_score(y_test, predR)

print(predRacc)

0.7886178861788617

In [22]:
print(metrics.classification_report(y_test, predL))
print(metrics.recall_score(y_test, predL, average='macro'))
print(metrics.precision_score(y_test, predL, average='macro'))
print(metrics.f1_score(y_test, predL, average='macro'))

              precision    recall  f1-score   support

           N       0.63      0.52      0.57        33
           Y       0.83      0.89      0.86        90

    accuracy                           0.79       123
   macro avg       0.73      0.70      0.71       123
weighted avg       0.78      0.79      0.78       123

0.702020202020202
0.7314814814814815
0.7134408602150537

In [23]:
print(metrics.classification_report(y_test, predK))
print(metrics.recall_score(y_test, predK, average='macro'))
print(metrics.precision_score(y_test, predK, average='macro'))
print(metrics.f1_score(y_test, predK, average='macro'))

              precision    recall  f1-score   support

           N       0.00      0.00      0.00        33
           Y       0.73      1.00      0.85        90

    accuracy                           0.73       123
   macro avg       0.37      0.50      0.42       123
weighted avg       0.54      0.73      0.62       123

0.5
0.36585365853658536
0.4225352112676056

c:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [24]:
print(metrics.classification_report(y_test, predR))
print(metrics.recall_score(y_test, predR, average='macro'))
print(metrics.precision_score(y_test, predR, average='macro'))
print(metrics.f1_score(y_test, predR, average='macro'))

              precision    recall  f1-score   support

           N       0.63      0.52      0.57        33
           Y       0.83      0.89      0.86        90

    accuracy                           0.79       123
   macro avg       0.73      0.70      0.71       123
weighted avg       0.78      0.79      0.78       123

0.702020202020202
0.7314814814814815
0.7134408602150537

In [25]:
print(metrics.classification_report(y_test, predD))
print(metrics.recall_score(y_test, predD, average='macro'))
print(metrics.precision_score(y_test, predD, average='macro'))
print(metrics.f1_score(y_test, predD, average='macro'))

              precision    recall  f1-score   support

           N       0.39      0.52      0.44        33
           Y       0.80      0.70      0.75        90

    accuracy                           0.65       123
   macro avg       0.59      0.61      0.59       123
weighted avg       0.69      0.65      0.66       123

0.6075757575757575
0.5919159953970081
0.5935602858679782